{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
    <div class="row">
   {% if app.user is not empty and app.user.roles[0] == "ROLE_ADMIN" %}
    <a href="{{ path('user_list') }}" class="btn btn-success">Gestion utilisateur</a>
{% endif %}
</div>
    <div class="row">
    {% if app.user %}
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        {% endif %}
        <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches déjà réaliser</a>
    </div>
<h2>Liste des tâches à faire</h2>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                    </h4>
                    <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                    <p>{{ task.content }}</p>
                </div>
                <div>
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm pull-right">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    {% if task.user is not null and app.user is not null and app.user.id == task.user.id %}
                    {{ include('task/_delete_form.html.twig') }}
                {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche à faire.
            </div>
        {% endfor %}
    </div>
{% endblock %}
